
#div1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* transition: all 500ms ease-out 1s ! STARTS AFTER 0.3s */
    transition: background-color 0.5s ease-out 1s, width 1s ease-in 0.2s /*! more than one style transitioning with different properties */
 }

 .marked {
     width: 300px;
 }

 #div2 {
    width: 150px;
    height: 75px;
    background-color: green;
    /* animation: moved 1s ease-out forwards; */
 }

 .animate {
    animation: moved 1s ease-out forwards; /* ! we can also create a class for the animations */
 }

 @keyframes moved {
    0% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateX(300px) scale(1.2);
    }
    75% {
        transform: translateX(400px) scale(1);
        opacity: 0.3;
    }
    100% {
        transform: translateX(400px) scale(1); /* ! we have to copy this property to keep it moved 400px to the right, otherwise it will be thrown to the start again */
        opacity: 0.1;

    }
 }

 #loading-bar {
     width: 200px;
     height: 20px;
     border: 1px solid black;
     box-sizing: content-box;
     border-radius: 20px;
     margin-left: 20px;

 }

 .loading-bar-progress {
     width: 0px;
     height: 100%;
     border-radius: 20px;
     background-color: red;
     animation: loading 5s linear infinite; /*! 1s is the iteration time */
 }

 @keyframes loading {
    0% {
        width: 0;
    }
    /* 25% {
        width: 25%;
    } */
    50% {
        background-color: yellow;
        width: 50%;
    }
    /* 75% {
        width: 75%;
    } */
    100% {
        width: 100%;
        background-color: green;
    }
 }

 #container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: 20px;
    column-gap: 20px;
    justify-content: start;
 }

 #container div {
     width: 100px;
     height: 100px;
     border: 1px solid black;
 }

 #container div:hover {
    cursor: pointer;
}

#container .marked {
    border: 1px solid red;
    transition: border-color 0.3s linear;
    animation: bump 0.1s linear;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
 }

#simple {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-left: 20px;
}

.box-color {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 300px;
    margin-top: 300px;
}

#parent {
    position: relative;
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
}
#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: wrapper 1s cubic-bezier(.87,.02,.15,1.06) infinite alternate;
}

@keyframes wrapper {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

#child {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color:black;
    border-radius: 30px;
    animation: child 1s cubic-bezier(.99,.11,.04,.84) infinite alternate;
}

@keyframes child {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container-testes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    row-gap:40px ;
    justify-content: center;
}

.container-testes .box-1 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.container-testes .box-2 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.container-testes .list-item {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
}

.parent-container .child {
    width: 200px;
    height: 200px;
    margin: 20px 20px;
    border: 1px solid red;
}

.child {
    width: 20px;
    height: 20px;
    margin: 20px 20px;
    border: 1px solid black;
}

.parent-container:focus-within {
    background-color: red;
}