<!-- <curso-rw-dev></curso-rw-dev> -->
<!-- <js-studies></js-studies> -->

<!--TODO Curso Angular Styling & Animations -->

<!-- <app-goal *ngFor="let goal of courseGoals"
          [goal]="goal"
          (click)="goal.isActiveGoal = !goal.isActiveGoal"
          [ngClass]="{active: goal.isActiveGoal}">

</app-goal> --> -->

<!-- <h1>My Quotes</h1>
<div class="interesting">
  <app-quote [ngClass]="{'favorite super-favorite': isFavorite }"
             [ngStyle]="{'width': isFavorite ? '600px' : '400px'}"
             (click)="isFavorite =!isFavorite">
  </app-quote> -->
             <!-- [ngStyle]="{'width.px': isFavorite ? 600 : 400}"
             <!--! COMO O ARGUMENTO DO ngStyle É UM OBJETO JS, PODEMOS COLOCAR O NOME DO ESTILO COMO PROPRIEDADE(CAMELCASE): {backgroundColor: 'red'} AO INVÉS DE {'background-color': red} <AMBOS FUNCIONAM> -->
<!-- </div>

<button (click)="onShowBoring(boringBlock)">
  SHOW BORING QUOTES
</button>
<div  style="display: none" class="boring" #boringBlock>
  <div>
    <app-quote></app-quote>
  </div>
</div> -->

<!--* Class 46 - Using the transition property to Add Transitions -->

 <div id="div1"
     (click)="divClicked = true"
     [ngClass]="{marked: divClicked}"
     [ngStyle]="{backgroundColor: divClicked ? 'red' : 'blue'}">
</div>

<hr> 

 <div id="div2"
     (click)="doAnimate = true"
     [ngClass]="{animate: doAnimate}">
</div>

<hr> 

<div id="loading-bar">
  <div class="loading-bar-progress">

  </div>
</div> -->

<hr>

<div id="container">
  <div [ngClass]="{ 'marked': markedBox === 1 }"
       (click)="markedBox = 1">

  </div>
  <div [ngClass]="{ 'marked': markedBox === 2 }"
       (click)="markedBox = 2">

  </div>
</div>

<hr>

<div [@clickedState]="clickInfo"
     (mousedown)="clickInfo = 'mousedown'"
     (click)="onClickSimple()"> 
</div>


<hr>

<p [@clickedState]="clickInfo"
   (click)="paragraphClick = 'clicked'">
  Some Text
</p>

<hr>

<input type="number" (input)="onType($event)">
<br><br>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected' ">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected' ">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected' ">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected' ">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected' ">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected' ">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected' ">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected' ">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected' ">9</span>
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected' ">0</span>


<div [@boxColor]="color" class="box-color" (click)="onBoxClick()">
  TEXT
</div>

<br>

<div id="parent">
    <div id="wrapper">
        <div id="child"></div>
    </div>
</div>

<div [@clicked]="clickState" 
     (click)="clickState === 'default' ? clickState = 'reverse' : clickState = 'default'"
     style="width: 100px; height: 100px; margin: 50px 50px; border: 1px solid black; cursor: pointer;">

</div>
<button (click)="width = width - 50">
  SHRINK
</button>
<button (click)="animate = true">
  ANIMATE ME
</button>

<style>
  p {
    border: 1px solid red;
    background-color: aquamarine;
  }
</style>

<p [@animateState]="animate ? 'animate' : 'donotanimate'" 
  [ngStyle]="{'width.px': width}">
  Shrink Me
</p>

<div class="container-testes" @testesOperators>
  <div class="box-1"></div>
  <div class="box-2"></div>

  <br>

  <div class="list-item"
       *ngFor="let item of [1,2,3,4,5]">
  </div>

  <br><br>

  <img src="https://picsum.photos//200" alt="" [@photoState]="photoState">


  <button (click)="photoState = 'reset'">Reset</button>
  <button (click)="photoState = 'enlarge'">Enlarge</button>
  <button (click)="photoState = 'translate'">Translate</button>
  <button (click)="photoState = 'rotate'">Rotate</button>

  <!-- <img src="https://picsum.photos//200" alt="2" [@photoState]="randomState"> -->


  <img src="https://picsum.photos//200" alt="2" [@photoState2]="randomState">

</div>

<br><br>

<div @photosAnimation>
  <img class="stagger" src="https://picsum.photos//200" alt="">

<br>

<img class="stagger" src="https://picsum.photos//200" alt="">

<br>

<img class="stagger" src="https://picsum.photos//200" alt="" >
</div>

