<!-- <curso-rw-dev></curso-rw-dev> -->
<!-- <js-studies></js-studies> -->

<!--TODO Curso Angular Styling & Animations -->

<!-- <app-goal *ngFor="let goal of courseGoals"
          [goal]="goal"
          (click)="goal.isActiveGoal = !goal.isActiveGoal"
          [ngClass]="{active: goal.isActiveGoal}">

</app-goal> -->

<!-- <h1>My Quotes</h1>
<div class="interesting">
  <app-quote [ngClass]="{'favorite super-favorite': isFavorite }"
             [ngStyle]="{'width': isFavorite ? '600px' : '400px'}"
             (click)="isFavorite =!isFavorite">
  </app-quote> -->
             <!-- [ngStyle]="{'width.px': isFavorite ? 600 : 400}" -->
             <!--! COMO O ARGUMENTO DO ngStyle É UM OBJETO JS, PODEMOS COLOCAR O NOME DO ESTILO COMO PROPRIEDADE(CAMELCASE): {backgroundColor: 'red'} AO INVÉS DE {'background-color': red} <AMBOS FUNCIONAM> -->
<!-- </div>

<button (click)="onShowBoring(boringBlock)">
  SHOW BORING QUOTES
</button>
<div  style="display: none" class="boring" #boringBlock>
  <div>
    <app-quote></app-quote>
  </div>
</div> -->

<!--* Class 46 - Using the transition property to Add Transitions -->
<div id="div1"
     (click)="divClicked = true"
     [ngClass]="{marked: divClicked}"
     [ngStyle]="{backgroundColor: divClicked ? 'red' : 'blue'}">
</div>

<hr>

<div id="div2"
     (click)="doAnimate = true"
     [ngClass]="{animate: doAnimate}">
</div>

<hr>

<div id="loading-bar">
  <div class="loading-bar-progress">

  </div>
</div>

<hr>

<div id="container">
  <div [ngClass]="{ 'marked': markedBox === 1 }"
       (click)="markedBox = 1">

  </div>
  <div [ngClass]="{ 'marked': markedBox === 2 }"
       (click)="markedBox = 2">

  </div>
</div>

<hr>

<div [@clickedState]="clickInfo"
     (mousedown)="clickInfo = 'mousedown'"
     (click)="onClickSimple()"> <!-- #simple -->
</div>

<hr>

<p [@clickedState]="clickInfo"
   (click)="paragraphClick = 'clicked'">
  Some Text
</p>

<hr>

<input type="number" (input)="onType($event)">
<br><br>
<span [@numberEnteredState]="numberEntered == 1 ? 'selected' : 'unselected' ">1</span>
<span [@numberEnteredState]="numberEntered == 2 ? 'selected' : 'unselected' ">2</span>
<span [@numberEnteredState]="numberEntered == 3 ? 'selected' : 'unselected' ">3</span>
<span [@numberEnteredState]="numberEntered == 4 ? 'selected' : 'unselected' ">4</span>
<span [@numberEnteredState]="numberEntered == 5 ? 'selected' : 'unselected' ">5</span>
<span [@numberEnteredState]="numberEntered == 6 ? 'selected' : 'unselected' ">6</span>
<span [@numberEnteredState]="numberEntered == 7 ? 'selected' : 'unselected' ">7</span>
<span [@numberEnteredState]="numberEntered == 8 ? 'selected' : 'unselected' ">8</span>
<span [@numberEnteredState]="numberEntered == 9 ? 'selected' : 'unselected' ">9</span>
<span [@numberEnteredState]="numberEntered == 0 ? 'selected' : 'unselected' ">0</span>









